<!DOCTYPE html>
{% load static %}


<html lang="en">
<head>


 <h1>
    Приложение
   <h1/>
     <div class="container">
            <ul class="navbar">
                <li>
                    <a class="nav-mark" href="/name_of_games">Мой Говорящий Том 2</span></a>
                </li>
                <li>
                    <a class="nav-mark" href="/name_of_games">Говорящий Том: погоня героев</span></a>
                </li>
                <li>
                    <a class="nav-mark" href="/name_of_games">Hill Climb Racing 2</span></a>
                </li>
                <li>
                    <a class="nav-mark" href="/name_of_games">Самоцветы или кристаллы ? Три в ряд</span></a>
                </li>
                <li>
                    <a class="nav-mark" href="/name_of_games">Игры для мальчиков: машинки для детей, конструктор</span></a>
                </li>
                <li>
                    <a class="nav-mark" href="/name_of_games">Bubbu –мой виртуальный питомец</span></a>
                </li>

                <li>
                    <a class="nav-mark" href="/name_of_games">Шашки</span></a>
                </li>

                <li>
                    <a class="nav-mark" href="/name_of_games">Run Race 3D</span></a>
                </li>

                <li>
                    <a class="nav-mark" href="/name_of_games">Игры на двоих троих 4 игрока - змея,танки,Футбол</span></a>
                </li>

                <li>
                    <a class="nav-mark" href="/name_of_games">Swamp Attack</span></a>
                </li>

                <li>
                    <a class="nav-mark" href="/name_of_games">Сокровища Пиратов - Три в Ряд</span></a>
                </li>

                <li>
                    <a class="nav-mark" href="/name_of_games">Red Ball 4</span></a>
                </li>

                <li>
                    <a class="nav-mark" href="/name_of_games">Walk Master</span></a>
                </li>
                <li>
                    <a class="nav-mark" href="/name_of_games">Angry Birds 2</span></a>
                </li>
                <li>
                    <a class="nav-mark" href="/name_of_games">Ice Scream Episode 2</span></a>
                </li>
                <li>
                    <a class="nav-mark" href="/name_of_games">MORTAL KOMBAT</span></a>
                </li>
                <li>
                    <a class="nav-mark" href="/name_of_games">Игры на двоих троих 4 игрока - змея,танки,Футбол</span></a>
                </li>
                <li>
                    <a class="nav-mark" href="/name_of_games">Уличные гонки 3D</span></a>
                </li>
                <li>
                    <a class="nav-mark" href="/name_of_games">CarX Highway Racing</span></a>
                </li>


 <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">